<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-8" id="header">
                <h1>I scream...
                    <br /> You scream...
                    <br /> We all scream for ICE CREAM!</h1>
            </div>
            <div class="col-4">
                <img src="/Images/iceCreamCone.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="notEatenArea">
            <center><h2>Ice Creams Ready to be Eaten</h2></center>
            <ul class="list-group" id="notEaten">
                {{#each iceCream}} {{#unless devoured}}
                <li class="list-group-item list-group-item-warning notEaten">
                    <div class="row">
                        <div class="col-8">
                            {{iceCream_name}}
                        </div>
                        <div class="col-4">
                            <button class="btn btn-sm" class="changeDevoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour It!</button>
                        </div>
                    </div>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col" id="eatenArea">
            <center><h2>Ice Creams Already Devoured</h2></center>
            <ul class="list-group" id="devoured">
                {{#each iceCream}} {{#if devoured}}
                <li class="list-group-item devoured">
                    {{iceCream_name}}
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container" id="newForm">
    <div class="row">
        <form id="createIceCream">
            <h2>Add a New Ice Cream</h2>
            <br />
            <input type="text" id="newIceCream">
            <button type="submit" class="btn btn-lg" id="submitButton">Add it!</button>
        </form>
    </div>
</div>